{% load static %}
<nav class="navbar navbar-expand-lg bg-light navbar-light border-bottom fixed-top">
  <div class="container-fluid">
    <a draggable="false" class="navbar-brand" style="color:slateblue;" href="{% url 'pybo:index' %}">
      <img src="{% static 'favicon_io/android-chrome-512x512.png' %}" alt="" style="height: 40px;" draggable="false">
    </a>
    <button class="navbar-toggler" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a draggable="false" class="nav-link" style="color:indigo;" href="{% url 'pybo:project' %}">프로젝트</a>
        </li>
        <li class="nav-item">
          <a draggable="false" class="nav-link" style="color:indigo;" href="{% url 'pybo:grafana' %}">K8s Monitor</a>
        </li>
        <li class="nav-item">
          <a draggable="false" class="nav-link" style="color:indigo;" href="{% url 'pybo:logging' %}">Logging</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">쿠버네티스 기반 애플리케이션 자동 생성</a>
        </li>
      </ul>
    </div>
  </div>
</nav>