body {

    margin: 0px;
  
    background-image: url("")
  
}

#monitor0 {
    position: relative;
    padding: 10px 10px 10px 10px;
    max-width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#monitor1 {
    width: 30%;
    border-radius: 20px;
    word-break:break-all;
    padding: 20px;
    background-color: rgb(200, 231, 236);
}

#monitor2 {
    width: 100%;
    border-radius: 15px;
    word-break:break-all;
    padding: 20px;
    background-color: rgb(186, 229, 159);
}

#monitor3 {
    width: 100%;
    word-break:break-all;
    border-radius: 20px;
    padding: 20px;
    background-color: lightyellow;
}

#monitor4 {
    width: 100%;
    border-radius: 15px;
    margin: 10px 0px 7px 0px;
    word-break:break-all;
    text-align: center;
    background-color: lightpink;
}

#monitor5 {
    width: 30%;
    border-radius: 20px;
    word-break:break-all;
    padding: 20px;
    background-color: lightyellow;
}

#monitor6 {
    width: 100%;
    border-radius: 15px;
    margin: 10px 0px 7px 0px;
    word-break:break-all;
    padding: 1px 0px 1px 20px;
    background-color: rgb(222, 228, 180);
}

#grafana0 {
    position: relative;
    padding: 10px 5% 10px 5%;
    max-width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#grafana1 {
  border: 4px double rgb(10, 0, 0);
  padding: 1px;
}

#check-mark {
  width: 19px;
  height: 33px;
  border: 10px solid #333;
  border-left: 0;
  border-top: 0;

  transform: rotate(45deg);
}

#gitbox0{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: darkorange;
  padding: 10px;
  font-style: italic;

}

#appcreate0 {
    position: relative;
    padding: 50px 10px 10px 15px;
    max-width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

button.button {
    display: block;
    position: relative;
    float: left;
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
}


.btnBlueGreen {
    background: #00AE68;
}

.btnLightBlue {
    background: #5DC8CD;
}

.btnOrange {
    background: #FFAA40;
}

.btnPurple {
    background: #A74982;
}

.projecthead {
  display: inline;
  font-size: 40px;
  background-image: 
    linear-gradient(to right, firebrick, darkorange);
  background-size: 100% 15%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

/* 3D */
.btnBlueGreen.btnPush {
    box-shadow: 0px 5px 0px 0px #007144;
}

.btnLightBlue.btnPush {
    box-shadow: 0px 5px 0px 0px #1E8185;
}

.btnOrange.btnPush {
    box-shadow: 0px 5px 0px 0px #A66615;
}

.btnPurple.btnPush {
    box-shadow: 0px 5px 0px 0px #6D184B;
}

.btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #007144;
}

.btnLightBlue.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #1E8185;
}

.btnOrange.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #A66615;
}

.btnPurple.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #6D184B;
}


.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 59px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 130px;
    height: 60px;
    line-height: 60px;
  }
}


.button-55 {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


          
.button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
        var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button-89:active {
    background: var(--color);
    color: #fff;
}

.twelve h2 {
  font-size:30px; font-weight:700;  letter-spacing:1px; text-transform:uppercase; width:160px; text-align:center; margin:auto; white-space:nowrap; padding-bottom:13px;
}

.twelve h2:before {
  background-color: #c50000;
  content: '';
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}

.notes {
  background-attachment: local;
  background-image:
    linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
  line-height: 31px;
  padding: 8px 10px;
}

.info {
  margin: auto;
}
