{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="twelve">
    <h2>Grafana Monitoring</h2>
</div>
<div id="grafana0">
    <div id="grafana1">
    <iframe src="http://monitor.xyz/d-solo/k8s_views_global/kubernetes-views-global?orgId=1&refresh=30s&theme=light&panelId=77" width="450px" height="200px" frameborder="0"></iframe>
    <iframe src="http://monitor.xyz/d-solo/k8s_views_global/kubernetes-views-global?orgId=1&refresh=30s&panelId=78" width="450" height="200" frameborder="0"></iframe>
    </div>
    <div id="grafana1">
        <iframe src="http://monitor.xyz/d-solo/k8s_views_global/kubernetes-views-global?orgId=1&refresh=30s&theme=light&panelId=63" width="130px" height="130px" frameborder="0"></iframe>
        <iframe src="http://monitor.xyz/d-solo/k8s_views_global/kubernetes-views-global?orgId=1&refresh=30s&theme=light&panelId=59" width="130px" height="130px" frameborder="0"></iframe>
        <iframe src="http://monitor.xyz/d-solo/k8s_views_global/kubernetes-views-global?orgId=1&refresh=30s&panelId=62" width="130px" height="130px" frameborder="0"></iframe>
    </div>
    <div id="grafana1">
        <iframe src="http://monitor.xyz/d-solo/k8s_views_global/kubernetes-views-global?orgId=1&refresh=30s&theme=light&panelId=52" width="800px" height="300px" frameborder="0"></iframe>
        <iframe src="http://monitor.xyz/d-solo/k8s_views_global/kubernetes-views-global?orgId=1&refresh=30s&theme=light&panelId=44" width="800px" height="300px" frameborder="0"></iframe>
    </div>
    <div id="grafana1">
        <iframe src="http://monitor.xyz/d-solo/k8s_views_global/kubernetes-views-global?orgId=1&refresh=30s&theme=light&panelId=46" width="800px" height="300px" frameborder="0"></iframe>
        <iframe src="http://monitor.xyz/d-solo/k8s_views_global/kubernetes-views-global?orgId=1&refresh=30s&theme=light&panelId=50" width="800px" height="300px" frameborder="0"></iframe>
    </div>
</div>
{% endblock %}